{% if app.user %}
    {% set base ='baseback.html.twig' %}
{% else %}
    {% set base = 'base.html.twig'%}
{% endif %}
    {% extends base %}



{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Identifiez vous</h1>
            <label for="inputEmail"><h6>Email</h6></label>
        <div class="grey lighten-1 parallelogramme">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control anti-skew" required autofocus>
        </div>
        <br>
            <label for="inputPassword"><h6>Password</h6></label>
        <div class="grey lighten-1 parallelogramme">
            <input type="password" name="password" id="inputPassword" class="form-control anti-skew" required>
        </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
    <br>
            <button class="parallelogramme btn btn-lg btn-primary" type="submit">
                <div class="anti-skew">Valider</div>
            </button>
    </form>

    </div>
{% endblock %}
